{% extends "base.html.twig" %}
{% block title %} USSDSS - Student Login!{% endblock %}
{% block body %}
    <br />
    <div class="container" style="height:100%">
        <div class="row text-center ">
            <div class="col-md-12"> <br />
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0" style="border-radius:0px;">
                <div class="panel panel-default" id="loginBox" style="background-color: #DEE7F3;">
                    <div class="panel-heading" style="text-align: center;
                    background-color: #DEE7F3; border-bottom: solid 1px white;">
                        <strong> Login! to Continue Screening </strong>
                    </div>
                    <style>
                        label{
                            color: #31516A;
                            font-weight: normal;
                        }
                        input[type="text"], .panel-body form select{
                            height:50px;
                        }
                        .panel-body form ul li{
                            color: red;
                            list-style: none;
                            padding: 0em .1em;
                            font-size: small;
                        }
                    </style>
                    <div class="panel-body">
                        {{ form_start(form) }}
                            {{ form_errors(form.matric_number) }}
                            {{ form_errors(form) }}
                            {{ form_label(form.matric_number) }}
                            <div class="form-group input-group">
                                <span class="input-group-addon" style="background-color: #DEE7F3; border-color: #FFFFFF;">
                                    <i class="fa fa-book"  ></i>
                                </span>
                                {{ form_widget(form.matric_number,{attr:{style:'border-color: white;'}}) }}
                            </div>
                            {{ form_errors(form.password) }}
                            {{ form_label(form.password) }}
                            <div class="form-group input-group">
                                <span class="input-group-addon" style="background-color: #DEE7F3; border-color: #FFFFFF;">
                                    <i class="fa fa-key"  ></i>
                                </span>
                                {{ form_widget(form.password,{attr:{style:'border-color: white;'}}) }}
                            </div>
                            <div align="center">
                                <button style="width:100%; border: solid 2px #FFFFFF;" type="submit" id="login" class="btn btn-primary" >
                                    Login
                                </button>
                            </div><br >
                            <hr />
                            <div align="center">
                                <p>
                                    <a style="color: #31516A; text-decoration: underline;" href="{{ path('student_register') }}" >
                                        Start new screening
                                    </a>
                                </p>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}