{% extends "base.html.twig" %}
{% block title %}Admin - Approved Students{% endblock %}
{% block body %}
	<div class="main-content">
        {{ include('admin/navigation.html.twig',{page:"approved"}) }}
			<!-- main content start-->
        <style>
            .form-body .table ul li, .title1 .form-grids .form-title h5{
                font-size: small;
                color: red;
            }
        </style>
		<div id="page-wrapper">
			<div class="main-page">
			<h3 class="title1" style="color: #F2B33F;">View Students</h3>
					<div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
						<div class="form-title">
							<h4>List of all students</h4>

						</div>
						<div class="form-body">
                                <table class="table table-responsive table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Matric Number/Jamb Reg.</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    {% set i = 0 %}
                                    {% for record in records %}
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {% set i = i+1 %}
                                                    {{ i }}
                                                </td>
                                                <td>
                                                    {{ record.student.matricNumber }}
                                                </td>
                                                <td>
                                                    {{ record.student.adminUnit.firstName }}
                                                </td>
                                                <td>
                                                    {{ record.student.adminUnit.lastName}}
                                                </td>
                                                <td>
                                                    {{ record.student.adminUnit.email }}
                                                </td>
                                                <td>
                                                    <a style="width:100%;" id="update" class="btn btn-primary" href="{{ path('admin_view_student',{id: record.student.id}) }}" >
                                                        <span class="fa fa-eye"></span> View
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
						</div>
					</div>
			
			
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
		   <p>&copy; 2018 | CSC Dept. AAUA. </p>
		</div>
        <!--//footer-->
	</div>
    {% endblock %}

    {% block javascripts %}
        <!-- Classie -->
        <script src="{{ asset('control_panel/js/classie.js') }}"></script>
        <script>
            let update = document.getElementById('update');
            update.onclick = function(){
                document.getElementById('student_registration_matric_no').disabled = false;
            }
            var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
                showLeftPush = document.getElementById( 'showLeftPush' ),
                body = document.body;

            showLeftPush.onclick = function() {
                classie.toggle( this, 'active' );
                classie.toggle( body, 'cbp-spmenu-push-toright' );
                classie.toggle( menuLeft, 'cbp-spmenu-open' );
                disableOther( 'showLeftPush' );
            };


            function disableOther( button ) {
                if( button !== 'showLeftPush' ) {
                    classie.toggle( showLeftPush, 'disabled' );
                }
            }
        </script>
        <!--scrolling js-->
        <script src="{{ asset('control_panel/js/jquery.nicescroll.js') }}"></script>
        <script src="{{ asset('control_panel/js/scripts.js') }}"></script>
        <!--//scrolling js-->
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('control_panel/js/bootstrap.js') }}"> </script>
    {% endblock %}
